{% extends 'base.html' %}

{% block title %}{{user.first_name}} {{user.last_name}}{% endblock %}}

{% block content %}


<div>
    <img src="{{ user.image_url }}" alt="" width="250" height="250">
</div>
<div class="name">
    {% if user.first_name %}
    <h2>Name: {{user.first_name}} {{user.last_name}}</h2>
    {% endif %}
</div>
<form action="/{{user_id}}/edit">
    <button>Edit</button>
</form>
<br>
<form action="/{{user_id}}/delete" method="POST">
    <button>Delete</button>
</form>

<h2>Posts</h2>

<ul>
    {% for post in user_posts %}
    <li>
        <a href="/{{user_id}}/posts/{{post.id}}">{{ post.title }}</a>
    </li>
    {% endfor %}
</ul>
<br>
<form action="/{{user_id}}/posts/new">
    <button>Add Post</button>
</form>
<br>
<a href="/">Go Back</a>


{% endblock %}