{% extends 'base.html' %}

{% block title %}{{user.first_name}} {{user.last_name}}{% endblock %}}

{% block content %}

{% if user.image_url %}
<div>
    <img src="{{ user.image_url }}" alt="{{ user.first_name }}" width="250" height="250">
</div>
{% endif %}

<div>
    <h2>Name: {{user.first_name}} {{user.last_name}}</h2>
</div>

<form action="/{{user_id}}/edit">
    <button>Edit</button>
</form>
<br>
<form action="/{{user_id}}/delete" method="POST">
    <button>Delete</button>
</form>

<h2>Posts</h2>

<ul>
    {% if user_posts %}
    {% for post in user_posts %}
    <li>
        <a href="/{{user_id}}/posts/{{post.id}}">{{ post.title }}</a>
    </li>
    {% endfor %}
    {% endif %}
</ul>
<br>
<form action="/{{user_id}}/posts/new">
    <button>Add Post</button>
</form>
<br>
<a href="/">Go Back</a>


{% endblock %}