{% extends 'base.html' %}

{% block title %}Edit{% endblock %}}

{% block content %}
<h2>Edit "{{post.title}}"</h2>
<form action="/{{user_id}}/posts/{{post.id}}/edit" method="POST">
    <p>Title: <input name="title" value="{{post.title}}"></p>
    <p>Content: <input name="content" value="{{post.content}}" size="50" </p>
    <div>
        <h4>Edit tag(s)</h4>
        {% for tag in tags %}
        <div>
            <input type="checkbox" value="{{ tag.id }}" id="tag_{{ tag.id }}" name="tags">
            <label for="tag_{{ tag.id }}">
                {{ tag.name }}
            </label>
        </div>
        {% endfor %}
    </div>
    <br>
    <button>Save</button>
</form>
<br>
<a href="/{{user_id}}/posts/{{post.id}}">Go Back</a>
{% endblock %}